@mixin simple-button($filled: false, $shadow: false) {
	@if $filled {
		background-color: var(--secondary);
	} @else {
		background-color: var(--primary);
	}
	@if $shadow {
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
	}
	color: var(--white-g);
	font-size: 20px;
	border: 1px solid var(--secondary);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

@mixin text-input($align: left, $size: 'medium', $status: 'normal') {
	border-radius: 8px;
	background-color: white;
	text-align: $align;
	color: var(--text);
	height: 48px;
	width: 100%;
	padding: 0 16px;
	box-sizing: border-box;

	@if $status == 'warn' {
		border: 2px solid var(--warn);
	} @else {
		border: none;
	}

	@if $size == 'small' {
		font-size: 16px;
	} @else {
		font-size: 20px;
	}

	&::placeholder {
		color: var(--placeholder);
		opacity: 1;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
	}
}

/* z index */
$z: ('footer', 'menu', 'burger', 'overlay', 'modal');
@function zidx($value) {
	@if index($z, $value) {
		@return index($z, $value);
	}
	@warn '#{$value} is not included in the $z list.';
}
