:root {
	--green-primary: #107200;
	--green-secondary: #6dae57;
	--green-background: #e3edd7;
	--red-background: #f6e3e3;
	--c1: #6b6b6b;

	--primary: #7cab74;
	--secondary: #9ac992;
	--secondary-contrast: #c3eabd;
	--white-g: #f9fff8;
	--placeholder: #a9c8a4;
	--text: #4a6546;
	--warn: #ecba70;
	--danger: #e93f3f;
}
